/* Define your theme colors */
:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

/* Onest is for Headlines and Logo. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Onest:wght@100&display=swap');
/* Inter is for body copy */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100&display=swap');


/* Body Styles BEGIN */
body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/images/Kalina-Crowdsale-bg.jpg);
  background-size: 100%;
  background-attachment: fixed;
  color: #ffc107;
}
.text-color {
  color: #00ccff !important;
  font-family: 'Inter'
}
p {
  color: #00ccff;
  font-family: 'Inter';
}
/* Body Styles END */

code {
  font-family: 'Inter', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
